:root {
  font-family: Arial, Helvetica, sans-serif;

  --primary: #023e8a;
  --primary-hover: #0077b6;
  --primary-active: #0077b6a6;
  --primary-disabled: #023e8a4d;

  --border-color: #d3d3d3;
  --border-radius: 3px;

  --text: #000000bf;
  --text-secondary: #00000073;
  --text-light: #fcfcfc;
  --text-disabled: #00000040;
  --error: #da344d;

  --button-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
